.search {
  text-align: center;
  margin-bottom: 200px;
}
.search span {
  font-size: 38px;
}


.search_country {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 20px;
  margin: 100px 450px;
  padding: 8px;
}
.search_country span {
  color: grey;
  font-size: 14px;
  padding-right: 50px;
}

.button_icon {
  margin-left: -28px;
  margin-bottom: 5px;
}
.button  {
  margin-left: auto;
  margin-right: 5px;
}


.input_flex {
  width: 40%;
  display: flex;
  justify-content: center;
  text-align: center;
  
}
.input_center {
 display: flex;
 justify-content: center;




 margin-top: 50px;
}
.input_center button {
  margin-left: 15px;
}
