header {
  display: flex;
  justify-content:center;
  margin: 30px;
}
ul li {
  margin: 0;
  padding: 0%;
}

.nav_bar {
  display: flex;
 margin: auto;
  align-items: center;
 
}

.nav_bar img {
  padding:0 20px;
}

ul {
  list-style-type: none;
  display: flex;
}

a {
  text-decoration: none;
  padding-right: 20px;
  color: #fff;
}

.profile {
  padding-top: 17px;
}

.profile img {
  margin-right: 15px;
}

