header {
  display: flex;
  justify-content: space-between;
  margin: 30px;
}

.nav_bar {
  display: flex;
  align-items: center;
  margin-left: 480px;
}

.nav_bar img {
  padding-left: 20px;
}

ul {
  list-style-type: none;
  display: flex;
}

a {
  text-decoration: none;
  padding-right: 20px;
  color: #fff;
}

.profile {
  padding-top: 17px;
}

.profile img {
  padding-right: 15px;
}
