
footer {
    background-color: #181C25;
}
footer img {
    display: flex;
    margin-top: 100px;
}

.footer_content {
    display: flex;
    justify-content: space-between;
    margin: 90px 100px 50px 360px;
}

.list li:not(:last-child) {
margin-right: 140px;
}

.list li:first-child {
    margin: 95px 100px 0 130px 95px;
}
