@import "./components/Header/Header.module.css";

body {
  margin: 0;
}

.wrapper {
  position: relative;
  margin: 0;
  width: 100vw;
  overflow: hidden;
  font-size: 18px;
  color: #fff;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./images/background.png);
  z-index: -1;
}

.background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); 
  mix-blend-mode: darken;
}
